{% extends "base.html" %}
{% block content %}
  <h1>{{ _('Versanstaltung erstellen') }}</h1>
  <form method="post" action="{{ url_for('main.create_dinner_event') }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.description.label }} {{ form.description(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.external_event_url.label }} {{ form.external_event_url(class="form-control") }}  <!-- Changed field -->
    </div>
    <!-- New date field -->
    <div class="mb-3">
      {{ form.date.label }} {{ form.date(class="form-control", type="datetime-local") }}
    </div>
    <!-- Added invite field -->
    <div class="mb-3" style="{% if form.is_public.data %}display:none;{% endif %}">
      {{ form.invite.label }} {{ form.invite(class="form-control", value=form.invite.data) }}
    </div>
    <!-- New is_public field -->
    <div class="mb-3">
      {{ form.is_public.label }} {{ form.is_public() }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
{% endblock %}