{% extends "base.html" %}

{% block content %}
  <h2>Neue Veranstaltung erstellen</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.title.label }}<br>
      {{ form.title }}
    </p>
    <p>
      {{ form.description.label }}<br>
      {{ form.description }}
    </p>
    <p>
      {{ form.start_time.label }}<br>
      {{ form.start_time }}
    </p>
    <p>
      {{ form.end_time.label }}<br>
      {{ form.end_time }}
    </p>
    <p>{{ form.submit }}</p>
  </form>
{% endblock %}

