{% extends "base.html" %}
{% block content %}
  <h1>{{ _('Edit Dinner Event') }}</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.description.label }} {{ form.description(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.menu_url.label }} {{ form.menu_url(class="form-control") }}
    </div>
    <!-- New date field -->
    <div class="mb-3">
      {{ form.date.label }} {{ form.date(class="form-control", type="datetime-local", value=form.date.data.strftime('%Y-%m-%dT%H:%M')) }}
    </div>
    <!-- Added invite field -->
    <div class="mb-3" style="{% if form.is_public.data %}display:none;{% endif %}">
      {{ form.invite.label }} {{ form.invite(class="form-control", value=form.invite.data) }}
    </div>
    <!-- New is_public field -->
    <div class="mb-3">
      {{ form.is_public.label }} {{ form.is_public() }}
    </div>
    {{ form.submit(class="btn btn-primary", value=_('Edit Dinner Event')) }}
  </form>
{% endblock %}