
{% extends "base.html" %}
{% block content %}
  <h1>{{ _('Edit Dinner Event') }}</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.title.label }} {{ form.title(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.description.label }} {{ form.description(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.menu_url.label }} {{ form.menu_url(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
{% endblock %}