{% extends "base.html" %}
{% block content %}
  <h1>{{ _('Explore') }}</h1>
  <h2>{{ _('Upcoming Events') }}</h2>
  <ul class="list-group mb-3">
    {% for event in upcoming %}
      <li class="list-group-item">
        <a href="{{ url_for('main.dinner_event_detail', event_id=event.id) }}">
          {{ event.title }} - {{ event.event_date.strftime('%Y-%m-%d') }}
        </a>
        <br>
        <small>{{ _('Creator') }}: {{ event.creator.username }}</small>
        <br>
        {% set rsvp_list = event.rsvps | selectattr("user_id", "equalto", current_user.id) | list %}
        {% if rsvp_list %}
          <small>{{ _('Your RSVP') }}: {{ rsvp_list[0].status | capitalize }}</small>
        {% else %}
          <small>{{ _('No RSVP') }}</small>
        {% endif %}
      </li>
    {% else %}
      <li class="list-group-item">{{ _('No upcoming events.') }}</li>
    {% endfor %}
  </ul>

  <h2>{{ _('Previous Events') }}</h2>
  <ul class="list-group">
    {% for event in previous %}
      <li class="list-group-item">
        <a href="{{ url_for('main.dinner_event_detail', event_id=event.id) }}">
          {{ event.title }} - {{ event.event_date.strftime('%Y-%m-%d') }}
        </a>
        <br>
        <small>{{ _('Creator') }}: {{ event.creator.username }}</small>
        <br>
        {% set rsvp_list = event.rsvps | selectattr("user_id", "equalto", current_user.id) | list %}
        {% if rsvp_list %}
          <small>{{ _('Your RSVP') }}: {{ rsvp_list[0].status | capitalize }}</small>
        {% else %}
          <small>{{ _('No RSVP') }}</small>
        {% endif %}
      </li>
    {% else %}
      <li class="list-group-item">{{ _('No previous events.') }}</li>
    {% endfor %}
  </ul>
{% endblock %}