{% extends "base.html" %}
{% block content %}
  <h1>{{ _('Explore') }}</h1>
  {% if description %}
    <p>{{ description|safe }}</p>
  {% endif %}
  <h2>{{ _('Upcoming Public Events') }}</h2>
  <ul class="list-group mb-3">
    {% for event in upcoming %}
      <li class="list-group-item">
        <a href="{{ url_for('main.dinner_event_detail', event_id=event.id) }}">
          {{ event.title }} - {{ event.event_date.strftime('%Y-%m-%d') }}
        </a>
        <br>
        <small>{{ _('Creator') }}: 
          <a href="{{ url_for('main.user', username=event.creator.username) }}">
            {{ event.creator.username }}
          </a>
        </small>
      </li>
    {% else %}
      <li class="list-group-item">{{ _('No upcoming public events.') }}</li>
    {% endfor %}
  </ul>

  <h2>{{ _('Previous Public Events') }}</h2>
  <ul class="list-group">
    {% for event in previous %}
      <li class="list-group-item">
        <a href="{{ url_for('main.dinner_event_detail', event_id=event.id) }}">
          {{ event.title }} - {{ event.event_date.strftime('%Y-%m-%d') }}
        </a>
        <br>
        <small>{{ _('Creator') }}: 
          <a href="{{ url_for('main.user', username=event.creator.username) }}">
            {{ event.creator.username }}
          </a>
        </small>
      </li>
    {% else %}
      <li class="list-group-item">{{ _('No previous public events.') }}</li>
    {% endfor %}
  </ul>
{% endblock %}